

<div class="page-header"><h1>Dodaj księdza</h1></div>

<form id="ksiadz-form"  data-update-id="<%= editData.id %>">
  <div class="form-group">
    <label for="imie_nazwisko">Imię i nazwisko</label>
    <input type="text" class="form-control" id="imie_nazwisko" name="imie_nazwisko" placeholder="Imię i nazwisko" value="<%= editData.imie_nazwisko %>">
  </div>
  <div class="form-group">
    <label for="data_swiecen">Data święceń</label>
    <input type="date" class="form-control" id="tytul" name="data_swiecen" value="<%= editData.data_swiecen %>">
  </div>
  <div class="form-group">
    <label for="tytul">Tytuł</label>
    <input type="text" class="form-control" id="tytul" name="tytul" placeholder="Tytuł" value="<%= editData.tytul %>">
  </div>
  <div class="form-group">
    <label for="funkcja_w_parafii">Funkcja w parafii</label>
    <input type="text" class="form-control" id="funkcja_w_parafii" name="funkcja_w_parafii" placeholder="Funkcja w parafii" value="<%= editData.funkcja_w_parafii %>">
  </div>
  <button type="submit" class="btn btn-default"><%= (editData.id) ? 'Zapisz zmiany' : 'Dodaj' %></button>
</form>

<table class="table">
    <thead><tr><th>#</th><th>Imię i nazwisko</th><th>Data święceń</th><th>Tytuł</th><th>Funkcja w parafii</th></tr></thead>
    <% _.forEach(list, function (element) { %>
        <tr>
            <td><%= element.id %></td>
            <td><%= element.imie_nazwisko %></td>
            <td><%= element.data_swiecen %></td>
            <td><%= element.tytul %></td>
            <td><%= element.funkcja_w_parafii %></td>
            <td>
                <a class="ksiadz-delete" data-id="<%= element.id %>" href="">Usuń</a>
                <a class="ksiadz-update" data-id="<%= element.id %>" href="">Edytuj</a>
            </td>
        </tr>
    <% }) %>
</table>

