

<div class="page-header"><h1>Dodaj mieszkanie</h1></div>

<form action="" id="mieszkanie-form">
  <div class="form-group">
    <label for="ulica">Ulica</label>
    <input type="text" class="form-control" id="ulica" name="ulica" placeholder="Ulica" value="">
  </div>
  <div class="form-group">
    <label for="nr_bloku">Nr bloku</label>
    <input type="text" class="form-control" id="nr_bloku" name="nr_bloku" placeholder="Numer bloku" value="">
  </div>
  <div class="form-group">
    <label for="nr_mieszkania">Numer mieszkania</label>
    <input type="text" class="form-control" id="nr_mieszkania" name="nr_mieszkania" placeholder="Numer mieszkania" value="">
  </div>
  <button type="submit" class="btn btn-default">Dodaj</button>
</form>

<strong class="form-success"></strong>

<table class="table">
    <thead><tr><th>#</th><th>ulica</th><th>nr bloku</th><th>nr mieszkania</th><th>operacje</th></tr></thead>
    <% _.forEach(list, function (element) { %>
        <tr>
            <td><%= element.id %></td>
            <td><%= element.ulica %></td>
            <td><%= element.nr_bloku %></td>
            <td><%= element.nr_mieszkania %></td>
            <td>
                <a class="mieszkanie-delete" data-id="<%= element.id %>" href="">Usuń</a>
                <a class="mieszkanie-update" data-id="<%= element.id %>" href="">Edytuj</a>
            </td>
        </tr>
    <% }) %>
</table>

