<div class="page-header"><h1>Dodaj osobę</h1></div>

<form action="" id="msza-form">
  <div class="form-group">
    <label for="osobaid">Osoba</label>
    <select class="form-control" id="osobaid" name="osobaid">
         <% _.forEach(osoby, function (osoba) { %>
         <option value="<%= osoba.id %>"><%= osoba.imie_nazwisko %></option>
         <% }) %>
    </select>
  </div>
    <div class="form-group">
    <label for="ksiadzid">Ksiądz</label>
    <select class="form-control" id="ksiadzid" name="ksiadzid">
         <% _.forEach(ksieza, function (ksiadz) { %>
         <option value="<%= ksiadz.id %>"><%= ksiadz.imie_nazwisko %></option>
         <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="intencja">Intencja</label>
    <input type="text" class="form-control" id="intencja" name="intencja" placeholder="Intencja" value="">
  </div>
  <div class="form-group">
    <label for="data_mszy">Data mszy</label>
    <input type="datetime-local" class="form-control" id="data_mszy" name="data_mszy" value="2000-01-01 18:00">
  </div>
  <div class="form-group">
    <label for="ofiara">Ofiara</label>
    <input type="number" class="form-control" id="ofiara" name="ofiara" placeholder="ofiara" value="">
  </div>
  <button type="submit" class="btn btn-default">Dodaj</button>
</form>

<table class="table">
    <thead><tr><th>#</th><th>Osoba</th><th>Ksiądz</th><th>Intencja</th><th>Data mszy</th><th>Ofiara</th></tr></thead>
    <% _.forEach(list, function (element) { %>
        <tr>
            <td><%= element.id %></td>
            <td><%= element.osoba %></td>
            <td><%= element.ksiadz %></td>
            <td><%= element.intencja %></td>
            <td><%= element.data_mszy %></td>
            <td><%= element.ofiara %></td>
            <td>
                <a class="msza-delete" data-id="<%= element.id %>" href="">Usuń</a>
                <a class="msza-update" data-id="<%= element.id %>" href="">Edytuj</a>
            </td>
        </tr>
    <% }) %>
</table>

