<div class="page-header"><h1>Dodaj osobę</h1></div>

<form action="" id="osoba-form" data-update-id="<%= editData.id %>">
  <div class="form-group">
    <label for="imie_nazwisko">Imię i nazwisko</label>
    <input type="text" class="form-control" id="imie_nazwisko" name="imie_nazwisko" placeholder="Imię i nazwisko" value="<%= editData.imie_nazwisko %>">
  </div>
  <div class="form-group">
    <label for="data_urodzenia">Data urodzenia</label>
    <input type="date" class="form-control" id="data_urodzenia" name="data_urodzenia" value="<%= editData.data_urodzenia %>">
  </div>
  <div class="form-group">
    <label for="zawod">Zawód</label>
    <input type="text" class="form-control" id="zawod" name="zawod" placeholder="Zawód" value="<%= editData.zawod %>">
  </div>
  <div class="form-group">
    <label for="mieszkanieid">Mieszkanie</label>
    <select class="form-control" id="mieszkanieid" name="mieszkanieid">
         <% _.forEach(mieszkania, function (mieszkanie) { %>
         <option value="<%= mieszkanie.id %>" <%= (mieszkanie.id === editData.mieszkanieid) ? 'selected' : '' %>><%= mieszkanie.ulica +' '+ mieszkanie.nr_bloku +'/'+ mieszkanie.nr_mieszkania %></option>
         <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="parafianin">Parafianin</label>
    <select class="form-control" id="parafianin" name="parafianin">
        <option value="1">Tak</option>
        <option value="0">Nie</option>
    </select>
  </div>
    <div class="form-group">
    <label for="zywa">Żywy</label>
    <select class="form-control" id="zywa" name="zywa">
        <option value="1">Tak</option>
        <option value="0">Nie</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default"><%= (editData.id) ? 'Zapisz zmiany' : 'Dodaj' %></button>
</form>

<table class="table">
    <thead><tr><th>#</th><th>Imię i nazwisko</th><th>Data urodzenia</th><th>Zawód</th><th>Mieszkanie</th><th>Parafianin</th><th>Żywy</th></tr></thead>
    <% _.forEach(list, function (element) { %>
        <tr>
            <td><%= element.id %></td>
            <td><%= element.imie_nazwisko %></td>
            <td><%= element.data_urodzenia %></td>
            <td><%= element.zawod %></td>
            <td><%= element.ulica +' '+ element.nr_bloku +'/'+ element.nr_mieszkania %></td>
            <td><%= element.parafianin %></td>
            <td><%= element.zywa %></td>
            <td>
                <a class="osoba-delete" data-id="<%= element.id %>" href="">Usuń</a>
                <a class="osoba-update" data-id="<%= element.id %>" href="">Edytuj</a>
            </td>
        </tr>
    <% }) %>
</table>

